@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
$font: normal normal 400 16px Roboto, Serif;
$font-h4: normal normal 500 16px Roboto, Serif;
$font-small: normal normal 400 13px Roboto, Serif;
$font-small-bold: normal normal 500 13px Roboto, Serif;
$font-medium: normal normal 400 18px Roboto, Serif;
$font-large: normal normal 400 24px Roboto, Serif;

$color-card-default: #fff;
$color-card-primary: #f3f3f3;
$color-card-secondary: #e1e1e1;
$color-card-text-default: #333;
$color-card-text-primary: rgb(63,81,181);
$color-card-text-primary-dark: rgb(58,74,166);
$color-card-text-primary-light: rgb(128,147,255);
$color-card-text-grey: #a1a1a1;

$font-card-default: normal normal 400 13px Roboto, Serif;
$font-card-heading: normal normal 500 16px Roboto, Serif;
$font-card-button: normal normal 500 14px Roboto, Serif;

@mixin box-shadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

@mixin transition($prop, $time, $animation) {
  -webkit-transition: $prop $time $animation;
  -moz-transition: $prop $time $animation;
  -ms-transition: $prop $time $animation;
  -o-transition: $prop $time $animation;
  transition: $prop $time $animation;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  overflow: hidden;
}
@mixin border-radius-default($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
