@import "header";


.lists-container {
  width: 100%;
  overflow-x: auto;
}

.lists {
  min-width: 100%;
  max-width: 100000px;
}

.list-create {
  display: inline-block;
  width: 300px;
  margin: 10px;
  vertical-align: top;

  > button {
    @include border-radius(5px);
    font: $font-small-bold;
    color: $color-card-text-primary;
    width: 100%;
    border: 0;
    padding: 10px;
    background-color: $color-card-primary;
  }
}

.list-create-card {
  @include border-radius(5px);
  background-color: $color-card-primary;
  padding: 10px;

  input[type='text'] {
    padding: 10px 0;
    width: 240px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid $color-card-text-primary;
    background-color: $color-card-primary;
    font: $font-medium;
  }

  input[type='text']:focus {
    outline: 0 !important;
  }
  input[type='text']::placeholder {
    font: $font-small-bold;
  }

  button {
    width: 40px;
    background-color: $color-card-primary;
    border: 0;
    vertical-align: middle;
    color: $color-card-text-primary;
  }
  button:hover {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
    color: $color-card-text-grey;
  }

}