@import "header";


*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: $color-card-text-primary-dark;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-card-text-primary-light;
  opacity: 0.5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $color-card-text-primary-dark;
}

body {
  font: $font;
  background-color: $color-card-text-primary;
  margin: 0;
}

header {
  text-align: center;
  .logo {
    color: $color-card-text-primary-light;
    text-decoration: none;

    span {
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      vertical-align: middle;
      font-size: 36px !important;
      font-style: italic;
      font-family: Comic Sans, Comic Sans MS, cursive;
    }
  }
  .logo:hover {
    color: $color-card-default !important;
  }
}

.card {
  background-color: $color-card-primary;
  padding: 10px 15px;
  display: block;
  margin: 10px;
}

.card-create {
  display: inline-block;
  width: 280px;
  padding: 10px;
  @include border-radius(5px);

  input[type='text'] {  font: $font-medium;  }

  textarea {  font: $font-small;  }

  input[type='text'], textarea {
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid $color-card-primary;
    background-color: $color-card-primary;
  }

  input[type='text']:focus, textarea:focus {
    outline: 0 !important;
    border-bottom: 3px solid $color-card-text-primary;
  }

  input[type='text']::placeholder, textarea::placeholder {
    font: $font-medium;
    @include transition(font, 0.2s, ease);
  }

  input[type='text']:focus::placeholder, textarea:focus::placeholder {
    font: $font-small;
    color: $color-card-text-primary;
    transition: font 0.2s ease;
    @include transition(font, 0.2s, ease);
  }

  .submit {
    text-align: right;
  }

  button {
    font: $font-small-bold;
    color: $color-card-text-primary;
    border: 0;
    padding: 10px;
    display: inline-block;
    background-color: $color-card-primary;
    cursor: pointer;
  }
  button:disabled {
    color: $color-card-text-grey;
    cursor: not-allowed;
  }
}

.card-detail {
  h4 {
    color: $color-card-text-default;
    text-transform: capitalize;
    text-align: center;
  }
  p {
    font: $font-card-default;
  }
}

.card-list {
  @include border-radius(5px);
  vertical-align: top;
  display: inline-block;
  width: 300px;
  margin: 10px;
  * {
    margin: 0;
  }
  h4 {
    font: $font-card-heading;
    background-color: $color-card-primary;
    @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
    padding: 10px;
  }
  ul {
    padding: 7px;
    font: $font-card-default;
    background-color: $color-card-secondary;
    max-height: 400px;
    overflow-y: auto;
    li {
      padding: 0;

      input[type='text'] {
        @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
        @include border-radius-default(5px);
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 7px;
        width: 100%;
        border:0;
        background-color: $color-card-default;
      }
      input[type='text']:focus {
        outline: 0 !important;
      }

    }
    li a {
      @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
      @include border-radius-default(5px);
      display: block;
      cursor: pointer;
      list-style: none;
      margin-bottom: 7px;
      background-color: $color-card-default;
      text-decoration: none;
      color: $color-card-text-default;
      padding: 10px;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
  > a {
    display: block;
    padding: 0;
    button {
      padding: 10px;
      font: $font-card-button;
      width: 100%;
      border: 0;
      text-align: center;
      background-color: $color-card-primary;
      color: $color-card-text-primary !important;
      text-decoration: none !important;
    }
  }
  button {
    padding: 10px;
    font: $font-card-button;
    width: 100%;
    border: 0;
    text-align: center;
    background-color: $color-card-primary;
    color: $color-card-text-primary !important;
    text-decoration: none !important;
    cursor: pointer;
  }
  button:disabled {
    color: $color-card-text-grey !important;
    cursor: not-allowed;
  }
}
